<%- include("./partials/header.ejs") %>

<section id="offer" class="container-fluid">
  <div class="row">
    <div class="col-md offer-text">
      <h1>Teaching for heroes!</h1>
      <p><%= paragraphs[0].part1 %><b><%= paragraphs[0].part2 %></b><%= paragraphs[0].part3 %></p>
      <p><%= paragraphs[1].part1 %><b><%= paragraphs[1].part2 %></b></p>
      <p><%= paragraphs[2] %></p>
      <button class="btn btn-primary btn-lg straight-corner" type="button"><%= learnMoreButton %></button>
    </div>
    <div class="col-md">
      <img src="/images/offer.png" alt="" />
    </div>
  </div>
</section>

<section id="cards">
  <div class="canvas">
    <div class="row cards-box">
      <div class="card card1">
        <h2 class="card-type fs-3"><%= cards[0].for %></h2>
        <h2 class="card-heading"><%= cards[0].heading %></h2>
        <p class="card-subheading"><%= cards[0].subheading %></p>
        <button type="button" class="btn btn-lg btn-outline-primary straight-corner card-button"><%= cards[0].button %></button>
      </div>
      <div class="card card2">
        <h2 class="card-type fs-3"><%= cards[1].for %></h2>
        <h3 class="card-heading"><%= cards[1].heading %></h3>
        <p class="card-subheading"><%= cards[1].subheading %></p>
        <button type="button" class="btn btn-lg btn-outline-primary straight-corner card-button"><%= cards[0].button %></button>
      </div>
    </div>
  </div>

  <section id="numbers">
    <div class="num-box">
      <div>
        <h2 id="lessons-number" class="number-js"></h2>
        <p><%= numbers.lessons %></p>
      </div>
    </div>
    <div class="num-box">
      <div>
        <h2 id="teachers-number" class="number-js"></h2>
        <p><%= numbers.teachers %></p>
      </div>
    </div>
    <div class="num-box">
      <div>
        <h2 id="students-number" class="number-js"></h2>
        <p><%= numbers.students %></p>
      </div>
    </div>
  </section>
</section>

<section id="partner">
  <h3><%= partner %></h3>
  <img src="/images/nativated-logo.png" />
</section>

<section id="footer">
  <div class="left-footer-div">
    <ul>
      <li><%= contactUs %><br /><a href="mailto:info@teachingforheroes.com" style="font-weight: 600">info@teachingforheroes.com</a></li>
      <li><a href="/<%= languageCode %>/privacy-policy"><%= privacyPolicy %></a></li>
      <li><a href="/<%= languageCode %>/terms-and-conditions"><%= termsConditions %></a></li>
    </ul>
  </div>
  <div class="right-footer-div">
    <div class="soc-icon fb-icon" style="background-color: #3b5998">
      <a href="https://www.facebook.com/teachingforheroes/" style="font-weight: 400"><i class="fab fa-facebook-f fa-lg"></i></a>
    </div>
    <div class="soc-icon ig-icon" style="background-color: #ea2c59">
      <a href="https://www.instagram.com/teachingforheroes/" style="font-weight: 400"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
  </div>
</section>

<%- include("./partials/footer.ejs") %>