<h2><%= text.heading %></h2>
<p><%= text.paragraphs[0].part1 %><b><%= text.paragraphs[0].part2 %></b><%= text.paragraphs[0].part3 %></p>
<p><%= text.paragraphs[1].part1 %><b><%= text.paragraphs[1].part2 %></b><%= text.paragraphs[1].part3 %></p>
<p style="color: #0c71c3"><b><%= text.bold %></b></p>