<h2><%= paragraphs[0].heading %></h2>
<ul>
    <li><%= paragraphs[0].list[0] %></li>
    <li><%= paragraphs[0].list[1] %></li>
</ul>
<p><%= paragraphs[0].text.part1 %><b><%= paragraphs[0].text.part2 %></b></p>
<h2><%= paragraphs[1].heading %></h2>
<ul>
    <li><%= paragraphs[1].list[0] %></li>
    <li><%= paragraphs[1].list[1] %></li>
    <li><%= paragraphs[1].list[2] %></li>
</ul>