<h2><%= paragraphs[0].heading %></h2>
<p><%= paragraphs[0].text %></p>
<p style="color: #474747"><b><%= paragraphs[1].heading %></b></p>
<ul>
    <li><%= paragraphs[1].list[0] %></li>
    <li><%= paragraphs[1].list[1] %></li>
    <li><%= paragraphs[1].list[2] %></li>
    <li><%= paragraphs[1].list[3] %></li>
</ul>